<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Progress Top"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <h1><%= __("title_progress") %></h1>
        <p>Message: <%=msg %></p>
        <ul>
          <li><a href="<%=baseUrl %>progress/progress"><%= __("title_progress") %></a></li>
        </ul>
        <p><a href="<%=baseUrl %>"><%= __("back_to_top") %></a></p>
      </main>
    </div>
  </body>
</html>
