<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Progress Top"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <h1>Progress top</h1>
        <p>Message: <%=msg %></p>
        <ul>
          <li><a href="<%=baseUrl %>progress/progress">進捗</a></li>
        </ul>
        <p><a href="<%=baseUrl %>">Back to research-ground top.</a></p>
      </main>
    </div>
  </body>
</html>
