<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Progress"}) %>
    <style>
      .excercise {
        border-style: solid;
      }
      .attention { /* 「注目」(提出したけど0か1点の時) */
        background-color: #ffaa44;
      }
      .caution {   /* 「警戒」(提出してない，など)     */
        background-color: #ffcccc;
      }
      .retention {  /* 「保留」(採点待ち)              */
        background-color: #ccccff;
      }
      .safe {      /* 「安全」(点数が2点だったらOK)    */
        background-color: #ccffcc;
      }
      strong {
        font-size: 120%;
        font-weight: bold;
      }
    </style>
    <script>
      function search() {
        let url = '<%=baseUrl%>progress/progress';
        url += `?course=${document.querySelector('#courses').value}`;
        location.href=encodeURI(url);
      }
      function init() {
        const courses = document.querySelector('#courses');
        courses.addEventListener('change',search);
      }
      window.addEventListener('load',init);
      <%
      function dirname(str) {
        return str.substring(0,str.lastIndexOf('/')+1);
      }
      function status_jp(str) {
        if (str==='unsubmitted') return '未提出';
        if (str==='submitted') return '提出(採点まだ)';
        if (str==='marked') return '提出(採点済み)';
        if (str==='resubmitted') return '再提出(採点まだ)';
        if (str==='removed') return 'ファイル削除';
        return '謎！？';
      }
      %>
    </script>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <h1><%= __("title_progress") %></h1>
        <p>Message: <%=msg%></p>
        <p>UID: <%=uid%></p>
        <p><%= __("course") %>:
          <select id="courses">
            <option value=""><%= __("select_course") %></option>
            <% for (const c of courses) { %>
              <% if (c.id===course) { %>
                <option value="<%= c.id %>" selected="true"><%= c.name %></option>
              <% } else { %>
                <option value="<%= c.id %>"><%= c.name %></option>
              <% } %>
            <% } %>
          </select>
        </p>
        <% if(!!regist_attention) { %>
          <p style="color:red">あなたは、この科目に登録されていません。この科目の管理者に連絡を取り確認して下さい。</p>
        <% } %>
        <h2>全体統計</h2>
        <p>得点<%=score%>(満点は<%=perfect%>点)</p>
        <p>未提出:<%=unsubmitted%>件、提出(採点待ち):<%=submitted%>件、採点済み:<%=marked%>件、再提出(採点待ち):<%=resubmitted%>件、削除:<%=removed%>件</p>
        <!-- 授業に依存する内容を直書きしてたので、とりあえずコメントアウト。 <p>採点済みの課題について、手付かず(0点):<%=mark0%>件、不完全(1点):<%=mark1%>件、合格(2点):<%=mark2%>件</p> -->
        <!-- <p>ここに、学生の状況に応じて色々メッセージ出したいところ。</p> -->
        <h2>課題ごとの評価</h2>
        <% for (const e of excercises) { %>
        <% let m = null;
          for (const mm of marks)
            if (e._id.equals(mm.excercise))
              m = mm;
          let st;
          if (m===null)
            st = 'caution';
          else {
            if (m.status==='marked')
              if (m.mark>=2)
                st = 'safe';
              else
                st = 'attention';
            else if (m.status==='submitted')
              st = 'retention';
            else if (m.status==='resubmitted')
              st = 'retention';
            else if (m.status==='unsubmitted')
              st = 'caution';
            else if (m.status==='removed')
              st = 'caution';
            else
              st = 'caution'; // ???
          }
        %>
        <div class="excercise <%=st%>">
          <p><strong><%=e.label%></strong></p>
          <% if (m) { %>
            <p>状態: <%=status_jp(m.status)%></p>
            <p>点数: <%=m.mark%>/<%=e.point%></p>
            <div>feedback: <%=m.feedbacks[m.feedbacks.length-1]%></div>
          <% } else { %>
            <p>状態: 未提出</p>
            <p>点数: 0/<%=e.point%></p>
            <pre>feedback: 提出よろしく！</pre></pre>
          <% } %>
            <p><a href="<%=e.question%>" target="question">出題ページ</a>:
              <a href="<%=submit_root%><%=e.submit%>" target="submit">自分の課題</a>:
              <a href="<%=uploader%><%=dirname(e.submit)%>" target="files">提出場所</a></p>
        </div>
        <% } %>
        <hr/>
        <p><a href="<%=baseUrl %>"><%= __("back_to_top") %></a></p>
      </main>
    </div>
  </body>
</html>
