<!DOCTYPE html>
<html lang="ja">
  <head>
  <%- include("../include/_head", {title: "Admin top"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <main>
      <h1>Admin top</h1>
      <p>Message: <%=msg %></p>
      <ul>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/courses">コース管理</a></li>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/teachers">教員管理</a></li>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/assistants">SA管理</a></li>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/students">履修者管理</a></li>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/excercises">課題管理</a></li>
        <li><a class="btn wave-effect wave-light" href="<%=baseUrl %>/admin/backup">バックアップ</a></li>
      </ul>
      <p><a class="btn wave-effect wave-light" href="<%=baseUrl %>/">Back to research-ground top.</a></p>
    </main>
  </body>
</html>
