<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Management of Courses</title>
    <script>
      function search() {
        const c = encodeURI(document.querySelector('#course_id').value);
        location.href=`./courses_search?course_id=${c}`;
      }
      function del() {
        const c = encodeURI(document.querySelector('#course_id').value);
        location.href=`./courses_del?course_id=${c}`;
      }
      function regist() {
        let url = './courses_add';
        url += `?course_id=${document.querySelector('#course_id').value}`;
        url += `&course_name=${document.querySelector('#course_name').value}`;
        location.href=encodeURI(url);
      }
      function init() {
        const select = document.querySelector('#courses');
        const c_id = document.querySelector('#course_id');
        select.addEventListener('change',function(e){
          c_id.value = e.target.value;
        });
      }
      window.addEventListener('load',init);
    </script>
  </head>
  <body>
    <h1>Management of Courses</h1>
    <p>Message: <%=msg%></p>
    <p>Registered course IDs:
      <select id="courses">
        <% for (c of courses) { %>
        <option value="<%= c.id %>"><%= c.id %></options>
        <% } %>
      </select></p>
    <p>Course ID: <input type="text" id="course_id" value="<%=course_id%>"/>
      <button type="button" onclick="search();">Search</button>
      <button type="button" onclick="del();">Delete</button>
      <button type="button" onclick="regist();">Registrate</button></p>
    <p>Course Name: <input type="text" id="course_name" size="25" value="<%=course_name%>"/></p>
    <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
  </body>
</html>
