<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Management of Courses</title>
    <script>
      function regist() {
        let url = './courses_regist';
        url += `?id=${document.querySelector('#id').value}`;
        url += `&name=${document.querySelector('#name').value}`;
        location.href=encodeURI(url);
      }
      function del() {
        const c = encodeURI(document.querySelector('#id').value);
        location.href=`./courses_del?id=${c}`;
      }
      function init() {
        const select = document.querySelector('#courses');
        const c_id = document.querySelector('#id');
        select.addEventListener('change',function(e){
          if (e.target.value) {
            const c = e.target.value;
            location.href=`./courses_search?id=${c}`;
          }
        });
      }
      window.addEventListener('load',init);
    </script>
  </head>
  <body>
    <h1>Management of Courses</h1>
    <p>Message: <%=msg%></p>
    <p>Registered course IDs:
      <select id="courses">
        <option value="" selected="true">select for search</options>
        <% for (c of courses) { %>
        <option value="<%= c.id %>"><%= c.id %></options>
        <% } %>
      </select></p>
    <p>Course ID: <input type="text" id="id" value="<%=id%>"/></p>
    <p>Course Name: <input type="text" id="name" size="25" value="<%=name%>"/></p>
    <p>
      <button type="button" onclick="regist();">Registrate</button>
      <button type="button" onclick="del();">Delete</button>
    </p>
    <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
  </body>
</html>
