<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Management of Excercises</title>
    <script>
      function regist() {
        let url = './excercises_regist';
        url += `?name=${document.querySelector('#name').value}`;
        url += `&course=${document.querySelector('#courses').value}`;
        url += `&unit=${document.querySelector('#unit').value}`;
        url += `&question=${document.querySelector('#question').value}`;
        url += `&submit=${document.querySelector('#submit').value}`;
        url += `&allocation=${document.querySelector('#allocation').value}`;
        url += `&weight=${document.querySelector('#weight').value}`;
        location.href=encodeURI(url);
      }
      function del() {
        let url = './excercises_del';
        url += `?name=${document.querySelector('#name').value}`;
        url += `&course=${document.querySelector('#courses').value}`;
        location.href=encodeURI(url);
      }
      function init() {
        const c_select = document.querySelector('#courses');
        c_select.addEventListener('change',function(event){
          const e = "<%=selected_excercise%>";
          if (event.target.value) {
            const c = event.target.value;
            location.href=`./excercises?selected_course=${c}&selected_excercise=${e}`;
          }
        });
        const e_select = document.querySelector('#excercises');
        e_select.addEventListener('change',function(event){
          const c = "<%=selected_course%>";
          if (event.target.value) {
            const e = event.target.value;
            location.href=`./excercises?selected_course=${c}&selected_excercise=${e}`;
          }
        });
      }
      window.addEventListener('load',init);
    </script>
  </head>
  <body>
    <h1>Management of Excercises</h1>
    <p>Message: <%=msg%></p>
    <p>Course IDs:
      <select id="courses">
        <option value="" selected="true">select for search</options>
        <% for (c of courses) { %>
          <% if (c.id===selected_course) { %>
            <option value="<%= c.id %>" selected="true"><%= c.id %></options>
          <% } else { %>
            <option value="<%= c.id %>"><%= c.id %></options>
          <% } %>
        <% } %>
      </select>
    </p>
    <p>Registered excercise name:
      <select id="excercises">
        <option value="">select excercise</options>
        <% for (e of excercises) { %>
          <% if (e.name===selected_excercise) { %>
            <option value="<%= e.name %>" selected="true"><%= e.name %></options>
          <% } else { %>
            <option value="<%= e.name %>"><%= e.name %></options>
          <% } %>
        <% } %>
      </select>
    </p>
    <p>Excercise Name: <input type="text" id="name" size="25" value="<%=name%>"/>
    <p>Unit: <input type="text" id="unit" size="25" value="<%=unit%>"/>
    <p>Question URL: <input type="text" id="question" size="25" value="<%=question%>"/>
    <p>Submit URL: <input type="text" id="submit" size="25" value="<%=submit%>"/>
    <p>Allocation: <input type="text" id="allocation" size="25" value="<%=allocation%>"/>
    <p>Weight: <input type="text" id="weight" size="25" value="<%=weight%>"/>
    <p>
      <button type="button" onclick="regist();">Registrate</button>
      <button type="button" onclick="del();">Delete</button>
    </p>
    <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
  </body>
</html>
