<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Management of Excercises</title>
    <script>
      function search() {
        const course = document.querySelector('#courses').value;
        const no = document.querySelector('#no').value;
        const sub_no = document.querySelector('#sub_no').value;
        location.href=encodeURI(`./excercises?course=${course}&no=${no}&sub_no=${sub_no}`);
      }
      function regist() {
        let url = './excercises_regist';
        url += `?course=${document.querySelector('#courses').value}`;
        url += `&no=${document.querySelector('#no').value}`;
        url += `&sub_no=${document.querySelector('#sub_no').value}`;
        url += `&category=${document.querySelector('#category').value}`;
        url += `&question=${document.querySelector('#question').value}`;
        url += `&submit=${document.querySelector('#submit').value}`;
        url += `&allocation=${document.querySelector('#allocation').value}`;
        url += `&weight=${document.querySelector('#weight').value}`;
        location.href=encodeURI(url);
      }
      function del() {
        let url = './excercises_del';
        url += `?course=${document.querySelector('#courses').value}`;
        url += `&no=${document.querySelector('#no').value}`;
        url += `&sub_no=${document.querySelector('#sub_no').value}`;
        location.href=encodeURI(url);
      }
    </script>
  </head>
  <body>
    <h1>Management of Excercises</h1>
    <p>Message: <%=msg%></p>
    <p>Course IDs:
      <select id="courses">
        <option value="">select for search</options>
        <% for (c of courses) { %>
          <% if (c.id===course) { %>
            <option value="<%= c.id %>" selected="true"><%= c.id %></options>
          <% } else { %>
            <option value="<%= c.id %>"><%= c.id %></options>
          <% } %>
        <% } %>
      </select>,
      No:
      <select id="no">
        <% for (let i=1;i<100;i++) { %>
          <% let ii;if(i<10){ii="0"+i;}else{ii=""+i} %>
          <% if (ii===no) { %>
            <option value="<%= ii %>" selected="true"><%= ii %></options>
          <% } else { %>
            <option value="<%= ii %>"><%= ii %></options>
          <% } %>
        <% } %>
      </select>,
      Sub_no:
      <select id="sub_no">
        <% for (let i=1;i<100;i++) { %>
          <% let ii;if(i<10){ii="0"+i;}else{ii=""+i} %>
          <% if (ii===sub_no) { %>
            <option value="<%= ii %>" selected="true"><%= ii %></options>
          <% } else { %>
            <option value="<%= ii %>"><%= ii %></options>
          <% } %>
        <% } %>
      </select>
      <button type="button" onclick="search()">Search</button>
    </p>
    <p>Category: <input type="text" id="category" size="25" value="<%=category%>"/>
    <p>Question URL: <input type="text" id="question" size="25" value="<%=question%>"/>
    <p>Submit URL: <input type="text" id="submit" size="25" value="<%=submit%>"/>
    <p>Allocation: <input type="text" id="allocation" size="25" value="<%=allocation%>"/>
    <p>Weight: <input type="text" id="weight" size="25" value="<%=weight%>"/>
    <p>
      <button type="button" onclick="regist();">Registrate</button>
      <button type="button" onclick="del();">Delete</button>
    </p>
    <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
  </body>
</html>
