<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Management of Excercises"}) %>
    <script>
      function search() {
        const course = document.querySelector('#courses').value;
        const excercise = document.querySelector('#excercises').value;
        location.href=encodeURI(`./excercises?course=${course}&label=${excercise}`);
      }
      function regist() {
        let url = './excercises_regist';
        url += `?label=${document.querySelector('#label').value}`;
        url += `&course=${document.querySelector('#courses').value}`;
        url += `&category=${document.querySelector('#category').value}`;
        url += `&question=${document.querySelector('#question').value}`;
        url += `&submit=${document.querySelector('#submit').value}`;
        url += `&point=${document.querySelector('#point').value}`;
        url += `&weight=${document.querySelector('#weight').value}`;
        url += `&memo=${document.querySelector('#memo').value}`;
        location.href=encodeURI(url);
      }
      function del() {
        let url = './excercises_del';
        url += `?label=${document.querySelector('#label').value}`;
        url += `&course=${document.querySelector('#courses').value}`;
        location.href=encodeURI(url);
      }
      function init() {
        const select1 = document.querySelector('#courses');
        select1.addEventListener('change',()=>{search();});
        const select2 = document.querySelector('#excercises');
        select2.addEventListener('change',()=>{search();});
        const l = document.querySelector('#label');
        l.value = select2.value;
      }
      window.addEventListener('load',init);
    </script>
  </head>
  <body>
    <%- include("../include/_header") %>
    <main>
      <h1>Management of Excercises</h1>
      <p>Message: <%=msg%></p>
      <p>Course IDs:
        <select id="courses">
          <option value="">select course</options>
          <% for (const c of courses) { %>
            <% if (c.id===course) { %>
              <option value="<%= c.id %>" selected="true"><%= c.id %></options>
            <% } else { %>
              <option value="<%= c.id %>"><%= c.id %></options>
            <% } %>
          <% } %>
        </select>,
        Excercises:
        <select id="excercises">
          <option value="">select excercise</options>
          <% for (const e of excercises) { %>
            <% if (e.label===label) { %>
              <option value="<%= e.label %>" selected="true"><%= e.label %></options>
            <% } else { %>
              <option value="<%= e.label %>"><%= e.label %></options>
            <% } %>
          <% } %>
        </select>
      </p>
      <p>Label: <input type="text" id="label" size="25" value="<%=label%>"/>
      <p>Category: <input type="text" id="category" size="25" value="<%=category%>"/>
      <p>Question URL: <input type="text" id="question" size="25" value="<%=question%>"/>
      <p>Submit URL: <input type="text" id="submit" size="25" value="<%=submit%>"/>
      <p>Point: <input type="text" id="point" size="25" value="<%=point%>"/>
      <p>Weight: <input type="text" id="weight" size="25" value="<%=weight%>"/>
      <p>Memo: <input type="text" id="memo" size="25" value="<%=memo%>"/>
      <p>
        <button type="button" onclick="regist();">Registrate</button>
        <button type="button" onclick="del();">Delete</button>
      </p>
      <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
    </main>
  </body>
</html>
