<div class="menu-wrapper">
    <div class="menu collection">
        <a href="<%=baseUrl%>auth" class="collection-item">auth</a>
        <a href="<%=baseUrl%>files" class="collection-item">files</a>
        <a href="<%=baseUrl%>admin" class="collection-item">admin</a>
        <a href="<%=baseUrl%>marking" class="collection-item">marking</a>
        <a href="<%=baseUrl%>progress" class="collection-item">progress</a>
    </div>
</div>