<div class="menu-wrapper">
    <div class="menu collection">
        <a href="<%=baseUrl%>auth" class="collection-item"><%= __("menu_auth") %></a>
        <a href="<%=baseUrl%>files" class="collection-item"><%= __("menu_files") %></a>
        <a href="<%=baseUrl%>admin" class="collection-item"><%= __("menu_admin") %></a>
        <a href="<%=baseUrl%>marking" class="collection-item"><%= __("menu_marking") %></a>
        <a href="<%=baseUrl%>progress" class="collection-item"><%= __("menu_progress") %></a>
        <a href="<%=baseUrl%>help" class="collection-item"><%= __("menu_help") %></a>
    </div>
</div>