<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Index of <%=c_path%></h1>
    <ul>
      <% files.forEach(function(file) { %>
        <% if (file.isDirectory()) { %>
          <li><a href="./<%=(file.name+'/') %>"><%=file.name %></a></li>
        <% } else { %>
          <li><a href="./<%=file.name%>"><%=file.name %></a></li>
        <% } %>
      <% }); %>
    </ul>
  </body>
</html>
