<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Index"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <h1><%= __("index_of", c_path) %></h1>
        <ul>
          <% files.forEach(function(file) { %>
            <% if (file.isDirectory()) { %>
              <li><a href="./<%=(file.name+'/') %>"><%=file.name %></a></li>
            <% } else { %>
              <li><a href="./<%=file.name%>"><%=file.name %></a></li>
            <% } %>
          <% }); %>
        </ul>
      </main>
    </div>
  </body>
</html>
