<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Files"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <h1>files</h1>
        <!--
        <p style="color:red;font-size:150%;">だいぶ改造したので不具合あったら教えて下さい。</p>
        -->
        <p>Message: <%=msg %></p>
        <p>WebID: <%=webid %></p>
        <p>Current Directory: <%=path %></p>
        <form action="<%=baseUrl%>files/remove" method="get">
          <input type="hidden" name="path" value="<%=path %>" />
          <ul>
            <% files.forEach(function(file) { %>
              <% if (file.isDirectory()) { %>
                <li>
                  <label>
                    <input type="checkbox" name="rment" value="<%=file.name %>" />
                    <span>:<a href="<%=baseUrl%>files?path=<%=(path+file.name+'/') %>"><%=file.name %></a></span>
                  </label>
                </li>
              <% } else { %>
                <li>
                  <label>
                    <input type="checkbox" name="rment" value="<%=file.name %>" />
                    <span>
                      :<%=file.name %>
                      :<a href="<%=user_dir%><%=path%><%=file.name%>">link</a>
                    </span>
                  </label>
                </li>
              <% } %>
            <% }); %>
          </ul>
          <button type="submit"><%= __('delete_checked') %></button>
        </form>
        <form action="<%=baseUrl%>files/upload?path=<%=path %>" method="post" enctype="multipart/form-data">
          <input type="file" name="files" multiple="multiple" />
          <button type="submit"><%= __('upload_files') %></button>
        </form>
        <form action="<%=baseUrl%>files/mkdir" method="get">
          <input type="hidden" name="path" value="<%=path %>" />
          <input type="text" name="dir" placeholder="<%= __('placeholder_folder_name') %>"/>
          <button type="submit"><%= __('mkdir') %></button>
        </form>
        <p><a href="<%=baseUrl%>">Back to research-ground top.</a></p>
      </main>
    </div>
  </body>
</html>
