<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Statistics"}) %>
    <style>
      table {
      }
      th, td {
        border:1px solid #333;
      }
      .fixed01, .fixed02 {
        position: sticky;
        top: 0;
        left: 0;
      }
      .fixed01 {
        z-index: 2;
        background: #333;
      }
      .fixed02 {
        z-index: 1;
        background: #bbb;
      }
    </style>
    <script>
      function search() {
        let url = '<%=baseUrl%>marking/statistics';
        url += `?course=${document.querySelector('#courses').value}`;
        location.href=encodeURI(url);
      }
      function init() {
        const courses = document.querySelector('#courses');
        courses.addEventListener('change',search);
      }
      window.addEventListener('load',init);
      <%
      function status_jp(str) {
        if (str==='unsubmitted') return '<span style="color:black">未</span>';
        if (str==='submitted') return '<span style="color:red">提</span>';
        if (str==='marked') return '<span style="color:green">済</span>';
        if (str==='resubmitted') return '<span style="color:red">再</span>';
        if (str==='removed') return '<span style="color:violet">削</span>';
        return '<span style="color:violet"謎</span>';
      }
      %>
    </script>
  </head>
  <body>
    <%- include("../include/_header") %>
    <div class="main-wrapper">
    <%- include("../include/_nav_main.ejs") %>
      <main>
        <p><a href="<%=baseUrl%>">Back to research-ground top.</a></p>
        <hr/>
        <h1>Statistics</h1>
        <p>Message: <%=msg%></p>
        <p>Course:
          <select id="courses">
            <option value="">select course</options>
            <% for (const c of courses) { %>
              <% if (c.id===course) { %>
                <option value="<%= c.id %>" selected="true"><%= c.name %></options>
              <% } else { %>
                <option value="<%= c.id %>"><%= c.name %></options>
              <% } %>
            <% } %>
          </select>
        </p>
        <h2>全体の統計</h2>
        <p>unsubmitted: <%=unsubmitted%>, submitted: <%=submitted%>, marked: <%=marked%>, resubmitted: <%=resubmitted%>, removed: <%=removed%></p>
        <% if (course) { %>
          <h2>CSVダウンロード</h2>
          <p><a href="<%=csv_url+'?course='+course%>">CSVファイルで評価のデーターをダウンロード</a></p>
        <% } %>
        <h2>個別の評価</h2>
        <p>セルの中身は課題の「状態」「評点」「フィードバック」「提出課題へのリンク」「採点ページへのリンク」です。状態は、未:未提出、提:提出、済:評点済み、再:再提出、削:ファイル削除、謎:？？？があり、「FB」をクリックするとFeedback(コメント)が見れます。テーブルヘッダーの課題名をクリックすると課題の出題ページが開きます。</p>
        <table>
          <thead>
            <tr>
              <th class="fixed01"></th>
              <% for (const e of excercises) { %>
              <th class="fixed02"><a href="<%=e.question%>" target="question"><%=e.label%></a></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% for (const s of students) { %>
            <tr>
              <td class="fixed02">
                <%=s.account%>
              </td>
              <% for (const e of excercises) { %>
              <td>
                <% let m = null;
                  for (const mm of marks[e.label])
                    if (e._id.equals(mm.excercise) && s.account===mm.student)
                      m = mm;
                %>
                <% if (m) { %>
                <span><%-status_jp(m.status)%>:<%=m.mark%>/<%=e.point%></span>
                <span onclick="alert('<%=m.feedbacks[m.feedbacks.length-1]%>')">FB</span>
                <% } else { %>
                <span>未:0/<%=e.point%></span>
                <span onclick="alert('提出よろしく！')">FB</span>
                <% } %>
                <span>
                  <a href="<%=submit_root+classifier(s.account)+s.account+e.submit%>" target="submit">課題</a>:
                  <a href="<%=marking_url+'?course='+course+'&label='+e.label+'&student='+s.account%>" target="mark">採点</a>
                </span>
              </td>
            <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
        <hr/>
        <p><a href="<%=baseUrl%>">Back to research-ground top.</a></p>
      </main>
    </div>
  </body>
</html>
